body{
    background-color: #E5E5E5;
    width: 375px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-family: 'Playball', cursive;
    font-family: 'Lexend Deca', sans-serif;
    box-sizing: border-box;
}
.listandoMeusHabitos{
    background-color: white;
    padding-bottom: 20px;
}
.listandoMeusHabitos h2{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 19.976px;
    line-height: 25px;
    color: #666666;
    
}
.dataAtual {
    margin-top: 100px;
}
.dataAtual h1{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 22.976px;
    line-height: 29px;
    color: #126BA5;
}
.dataAtual h3{
    margin-top: 5px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 17.976px;
    line-height: 22px;
    color: #BABABA; 
}
.dataAtual h4{
    margin-top: 5px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 17.976px;
    line-height: 22px;
    color: #8FC549;
}
.descricao {
    background-color: white;
    margin-top: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.descricao h2{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #666666;
    margin-bottom: 7px;
}
.descricao h3{     
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 12.976px;
    line-height: 16px;
    color: #666666;
}
.marcacao1 {
    width: 69px;
    height: 69px;
    background: #EBEBEB;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marcacao2 {
    width: 69px;
    height: 69px;
    background: #8FC549;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.corpo {
    margin-top: 100px;
}
.corpo h2{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 22.976px;
    line-height: 29px;
    color: #126BA5;
}
.corpo h3 {
    margin-top: 10px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 17.976px;
    line-height: 22px;
    color: #666666;    
}