body{
    background-color: #E5E5E5;
    width: 375px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-family: 'Playball', cursive;
    font-family: 'Lexend Deca', sans-serif;
    box-sizing: border-box;
}
.listandoMeusHabitos{
    background-color: white;
    padding-bottom: 20px;
}
.listandoMeusHabitos h2{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 19.976px;
    line-height: 25px;
    color: #666666;
   
}

